/Amazon_Balance_Sheet_06252023.csv
/Comparable Analysis SHOP 2023-06-25.xlsx
/Comparable Analysis TRTN 2023-07-01.xlsx
/Russell 1000 constituents.xlsx
/test.py
/Comparable Analysis NVDA 2023-07-08.xlsx
